@using PenskeSampleSdk.Shared.ViewModel_Dto;
<div class="col col-xs-12 event-column">

    <div class="row series-title" style="background-color: @BackgroundColor(RaceSeriesScheduleDto?.RaceSeriesId ?? 0)">
        <h4>@RaceSeriesScheduleDto?.RaceSeriesTypeEnum</h4>
    </div>
    
    <div class="row event-row">
        @foreach (var item in RaceSeriesScheduleDto?.RaceSchedules)
        {
            <EventRow RaceScheduleDto = "@item" />
        }        
    </div>
</div>


